/MechanicalStructure
SoftWare/STM32G431_GCC/build
SoftWare/STM32G431_MDK/MDK-ARM
SoftWare/STM32G431_GCC/build
/SoftWare/STM32G4_MCBV06/build
/SoftWare/STM32H723_GCC/build
SoftWare/STM32F405_GCC/build/
temp.jscope
test.md