[submodule "SoftWare/ProtocolV3/uavcan/uavcan_data_types"]
	path = SoftWare/ProtocolV3/uavcan/uavcan_data_types
	url = https://github.com/OpenCyphal/public_regulated_data_types.git
[submodule "SoftWare/ProtocolV3/uavcan/uavcan_libcanard"]
	path = SoftWare/ProtocolV3/uavcan/uavcan_libcanard
	url = https://github.com/OpenCyphal/libcanard.git
