[submodule "SoftWare/ProtocolV3/uavcan/uavcan_data_types"]
	path = SoftWare/ProtocolV3/uavcan/uavcan_data_types
	url = https://github.com/OpenCyphal/public_regulated_data_types.git
[submodule "SoftWare/ProtocolV3/uavcan/uavcan_libcanard"]
	path = SoftWare/ProtocolV3/uavcan/uavcan_libcanard
	url = https://github.com/OpenCyphal/libcanard.git
[submodule "MCOM"]
	path = MCOM
	url = git@github.com:zagerx/MCOM.git
[submodule "SoftWare/ProtocolV4"]
	path = SoftWare/ProtocolV4
	url = git@github.com:zagerx/ProtocolV4.git
